In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import password

### Store CSV --Top 50 School Districts-- into DataFrame

In [2]:
csv_file = "./top50_school_district_clean.csv"
district_df = pd.read_csv(csv_file).iloc[:,1:]

district_df.head()

,name,rating,city,niche_grade,number_school,number_student
0,Adlai E. Stevenson High School District No. 125,#1 Best School Districts in Chicago Area,"LINCOLNSHIRE, IL",grade A+,2,4271
1,Community High School District 128,#2 Best School Districts in Chicago Area,"VERNON HILLS, IL",grade A+,2,3287
2,New Trier Township High School District No. 203,#3 Best School Districts in Chicago Area,"NORTHFIELD, IL",grade A+,2,4040
3,Glenbrook High Schools District 225,#4 Best School Districts in Chicago Area,"GLENVIEW, IL",grade A+,4,5201
4,Township High School District No. 113,#5 Best School Districts in Chicago Area,"HIGHLAND PARK, IL",grade A+,2,3467

### Store CSV --Top 500 Elementery Schools-- into DataFrame

In [3]:
csv_file = "./top500_elementary_school_clean.csv"
school_df = pd.read_csv(csv_file).iloc[:,1:]

school_df.head()

,name,rating,district,niche_grade,stu_number,ratio
0,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,494,15:1
1,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,436,13:1
2,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,520,15:1
3,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,258,14:1
4,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,629,16:1

### Connect to local Postgres database

In [4]:
rds_connection_string = f"postgres:{password}@localhost:5432/CMAPSA"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [5]:
engine.table_names()

<ipython-input-5-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['district', 'school']

### Use pandas to load DataFrames into Postgres database tables

In [6]:
## Truncate the table
engine.execute("TRUNCATE TABLE district")

In [7]:
## Read Empty Table
pd.read_sql_query('select * from district', con=engine).head(100)

Empty DataFrame
Columns: [id, name, rating, city, niche_grade, number_school, number_student]
Index: []

In [8]:
## Load DataFrame into Table
district_df.to_sql(name='district', con=engine, if_exists='append', index=False)

In [9]:
##Confirm data has been added by querying the table
pd.read_sql_query('select * from district', con=engine).head(100)

,id,name,rating,city,niche_grade,number_school,number_student
0,101,Adlai E. Stevenson High School District No. 125,#1 Best School Districts in Chicago Area,"LINCOLNSHIRE, IL",grade A+,2,4271
1,102,Community High School District 128,#2 Best School Districts in Chicago Area,"VERNON HILLS, IL",grade A+,2,3287
2,103,New Trier Township High School District No. 203,#3 Best School Districts in Chicago Area,"NORTHFIELD, IL",grade A+,2,4040
3,104,Glenbrook High Schools District 225,#4 Best School Districts in Chicago Area,"GLENVIEW, IL",grade A+,4,5201
4,105,Township High School District No. 113,#5 Best School Districts in Chicago Area,"HIGHLAND PARK, IL",grade A+,2,3467
5,106,Hinsdale Township High School District No. 86,#6 Best School Districts in Chicago Area,"HINSDALE, IL",grade A+,3,4146
6,107,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22,16586
7,108,Niles Township Community High School District ...,#8 Best School Districts in Chicago Area,"SKOKIE, IL",grade A+,3,4592
8,109,Barrington Community Unit School District No. 220,#9 Best School Districts in Chicago Area,"BARRINGTON, IL",grade A+,12,8557
9,110,Township High School District No. 211,#10 Best School Districts in Chicago Area,"PALATINE, IL",grade A+,7,11855
10,111,Township High School District No. 214,#11 Best School Districts in Chicago Area,"ARLINGTON HEIGHTS, IL",grade A+,11,11774
11,112,Indian Prairie Community Unit School District ...,#12 Best School Districts in Chicago Area,"AURORA, IL",grade A+,33,26906
12,113,Elmhurst School District No. 205,#13 Best School Districts in Chicago Area,"ELMHURST, IL",grade A+,13,8596
13,114,Community High School District No. 155,#14 Best School Districts in Chicago Area,"CRYSTAL LAKE, IL",grade A+,5,5777
14,115,Community Unit School District No. 200,#15 Best School Districts in Chicago Area,"WHEATON, IL",grade A+,20,12319
15,116,Lincoln-Way Community High School District No....,#16 Best School Districts in Chicago Area,"NEW LENOX, IL",grade A+,3,6677
16,117,Grayslake Community High School District No. 127,#17 Best School Districts in Chicago Area,"GRAYSLAKE, IL",grade A+,2,2764
17,118,Consolidated High School District No. 230,#18 Best School Districts in Chicago Area,"ORLAND PARK, IL",grade A+,3,7441
18,119,Maine Township High School District No. 207,#19 Best School Districts in Chicago Area,"PARK RIDGE, IL",grade A+,4,6275
19,120,Community High School District No. 99,#20 Best School Districts in Chicago Area,"DOWNERS GROVE, IL",grade A+,2,4890
20,121,St. Charles Community Unit School District No....,#21 Best School Districts in Chicago Area,"SAINT CHARLES, IL",grade A+,17,12248
21,122,Lake Zurich Community Unit School District No. 95,#22 Best School Districts in Chicago Area,"LAKE ZURICH, IL",grade A+,8,5565
22,123,Community High School District No. 117,#23 Best School Districts in Chicago Area,"LAKE VILLA, IL",grade A+,3,2652
23,124,Glenbard Township High School District No. 87,#24 Best School Districts in Chicago Area,"GLEN ELLYN, IL",grade A+,4,8032
24,125,Geneva Community Unit School District No. 304,#25 Best School Districts in Chicago Area,"GENEVA, IL",grade A+,10,5537
25,126,School Town of Munster,#26 Best School Districts in Chicago Area,"MUNSTER, IN",grade A+,5,4206
26,127,Huntley Community School District No 158,#27 Best School Districts in Chicago Area,"ALGONQUIN, IL",grade A,8,9110
27,128,Lisle Community Unit School District No. 202,#28 Best School Districts in Chicago Area,"LISLE, IL",grade A,3,1410
28,129,Community Unit School District No. 201,#29 Best School Districts in Chicago Area,"WESTMONT, IL",grade A,5,1343
29,130,Crown Point Community School Corporation,#30 Best School Districts in Chicago Area,"CROWN POINT, IN",grade A,10,8795
30,131,Batavia Public School District 101,#31 Best School Districts in Chicago Area,"BATAVIA, IL",grade A,8,5527
31,132,Duneland School Corporation,#32 Best School Districts in Chicago Area,"CHESTERTON, IN",grade A,9,5865
32,133,Lake Central School Corporation,#33 Best School Districts in Chicago Area,"SAINT JOHN, IN",grade A,10,9587
33,134,DuPage High School District No. 88,#34 Best School Districts in Chicago Area,"ADDISON, IL",grade A,2,3923
34,135,Leyden Community High School District No. 212,#35 Best School Districts in Chicago Area,"FRANKLIN PARK, IL",grade A,2,3396
35,136,Union Township School Corporation,#36 Best School Districts in Chicago Area,"VALPARAISO, IN",grade A,4,1463
36,137,Valparaiso Community Schools,#37 Best School Districts in Chicago Area,"VALPARAISO, IN",grade A minus,12,6278
37,138,Oswego Community Unit School District No. 308,#38 Best School Districts in Chicago Area,"OSWEGO, IL",grade A minus,22,17650
38,139,Woodstock Community Unit School District No. 200,#39 Best School Districts in Chicago Area,"WOODSTOCK, IL",grade A minus,12,6332
39,140,McHenry Community High School District No. 156,#40 Best School Districts in Chicago Area,"MCHENRY, IL",grade A minus,2,2146
40,141,Community Unit School District No. 300,#41 Best School Districts in Chicago Area,"ALGONQUIN, IL",grade B+,28,20613
41,142,Plainfield School District No. 202,#42 Best School Districts in Chicago Area,"PLAINFIELD, IL",grade B+,30,26033
42,143,Community High School District No. 218,#43 Best School Districts in Chicago Area,"OAK LAWN, IL",grade B+,4,5342
43,144,Valley View Community Unit School District No....,#44 Best School Districts in Chicago Area,"ROMEOVILLE, IL",grade B+,20,15979
44,145,School Town of Highland,#45 Best School Districts in Chicago Area,"HIGHLAND, IN",grade B+,6,3224
45,146,Hanover Community School Corporation,#46 Best School Districts in Chicago Area,"CEDAR LAKE, IN",grade B+,4,2461
46,147,Yorkville Community Unit School District No. 115,#47 Best School Districts in Chicago Area,"YORKVILLE, IL",grade B+,9,6255
47,148,Wauconda Community Unit School District No. 118,#48 Best School Districts in Chicago Area,"WAUCONDA, IL",grade B+,6,4501
48,149,School City of Hobart,#49 Best School Districts in Chicago Area,"HOBART, IN",grade B+,6,4088
49,150,Griffith Public Schools,#50 Best School Districts in Chicago Area,"GRIFFITH, IN",grade B,5,2260

In [10]:
## Truncate the table
engine.execute("TRUNCATE TABLE school")

In [11]:
## Read Empty Table
pd.read_sql_query('select * from school', con=engine).head(100)

Empty DataFrame
Columns: [id, name, rating, district, niche_grade, stu_number, ratio]
Index: []

In [12]:
## Load DataFrame into Table
school_df.to_sql(name='school', con=engine, if_exists='append', index=False)

In [13]:
##Confirm data has been added by querying the table
pd.read_sql_query('select * from school', con=engine).head(100)

,id,name,rating,district,niche_grade,stu_number,ratio
0,993,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,494,15:1
1,994,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,436,13:1
2,995,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,520,15:1
3,996,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,258,14:1
4,997,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,629,16:1
...,...,...,...,...,...,...,...
95,1088,Bell-Graham Elementary School,#96 Best Public Elementary Schools in Chicago ...,St. Charles Community Unit School District No....,grade A,440,15:1
96,1089,Romona Elementary School,#97 Best Public Elementary Schools in Chicago ...,Wilmette School District No. 39,grade A,532,12:1
97,1090,Bower Elementary School,#98 Best Public Elementary Schools in Chicago ...,Community Unit School District No. 200,grade A,441,12:1
98,1091,Jackson Elementary School,#99 Best Public Elementary Schools in Chicago ...,Elmhurst School District No. 205,grade A,457,14:1
99,1092,Gower West Elementary School,#100 Best Public Elementary Schools in Chicago...,Gower School District No. 62,grade A,507,15:1

### Join Top Elementery Schools and Top School Districts

In [14]:
#school_df['district']=school_df.district.str.strip(' , IL')
school_df['district']=school_df['district'].str.strip()
district_df['name']=district_df['name'].str.strip()

In [15]:
school_df['district']

0      Naperville Community Unit School District No. 203
1      Barrington Community Unit School District No. 220
2      Barrington Community Unit School District No. 220
3      Naperville Community Unit School District No. 203
4      Naperville Community Unit School District No. 203
                             ...
491                        Skokie School District No. 69
492                    Flossmoor School District No. 161
493                               Chicago Public Schools
494                               Chicago Public Schools
495           Downers Grove Grade School District No. 58
Name: district, Length: 496, dtype: object

In [16]:
district_df['name']

0       Adlai E. Stevenson High School District No. 125
1                    Community High School District 128
2       New Trier Township High School District No. 203
3                   Glenbrook High Schools District 225
4                 Township High School District No. 113
5         Hinsdale Township High School District No. 86
6     Naperville Community Unit School District No. 203
7     Niles Township Community High School District ...
8     Barrington Community Unit School District No. 220
9                 Township High School District No. 211
10                Township High School District No. 214
11    Indian Prairie Community Unit School District ...
12                     Elmhurst School District No. 205
13               Community High School District No. 155
14               Community Unit School District No. 200
15    Lincoln-Way Community High School District No....
16     Grayslake Community High School District No. 127
17            Consolidated High School District No. 230
18          Maine Township High School District No. 207
19                Community High School District No. 99
20    St. Charles Community Unit School District No....
21    Lake Zurich Community Unit School District No. 95
22               Community High School District No. 117
23        Glenbard Township High School District No. 87
24        Geneva Community Unit School District No. 304
25                               School Town of Munster
26             Huntley Community School District No 158
27         Lisle Community Unit School District No. 202
28               Community Unit School District No. 201
29             Crown Point Community School Corporation
30                   Batavia Public School District 101
31                          Duneland School Corporation
32                      Lake Central School Corporation
33                   DuPage High School District No. 88
34        Leyden Community High School District No. 212
35                    Union Township School Corporation
36                         Valparaiso Community Schools
37        Oswego Community Unit School District No. 308
38     Woodstock Community Unit School District No. 200
39       McHenry Community High School District No. 156
40               Community Unit School District No. 300
41                   Plainfield School District No. 202
42               Community High School District No. 218
43    Valley View Community Unit School District No....
44                              School Town of Highland
45                 Hanover Community School Corporation
46     Yorkville Community Unit School District No. 115
47      Wauconda Community Unit School District No. 118
48                                School City of Hobart
49                              Griffith Public Schools
Name: name, dtype: object

In [17]:
## Associate a School District with each school :Inner Join
school_district_lj_df = pd.merge(school_df, district_df, how='left', left_on = 'district', right_on = 'name')

In [18]:
## Display Joined DataSets
school_district_lj_df

,name_x,rating_x,district,niche_grade_x,stu_number,ratio,name_y,rating_y,city,niche_grade_y,number_school,number_student
0,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,494,15:1,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22.0,16586.0
1,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,436,13:1,Barrington Community Unit School District No. 220,#9 Best School Districts in Chicago Area,"BARRINGTON, IL",grade A+,12.0,8557.0
2,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,520,15:1,Barrington Community Unit School District No. 220,#9 Best School Districts in Chicago Area,"BARRINGTON, IL",grade A+,12.0,8557.0
3,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,258,14:1,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22.0,16586.0
4,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,629,16:1,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22.0,16586.0
...,...,...,...,...,...,...,...,...,...,...,...,...
491,Thomas Edison Elementary School,#495 Best Public Elementary Schools in Chicago...,Skokie School District No. 69,grade B+,513,13:1,NaN,NaN,NaN,NaN,NaN,NaN
492,Western Avenue Elementary School,#496 Best Public Elementary Schools in Chicago...,Flossmoor School District No. 161,grade B+,472,15:1,NaN,NaN,NaN,NaN,NaN,NaN
493,Canty Elementary School,#497 Best Public Elementary Schools in Chicago...,Chicago Public Schools,grade B+,786,16:1,NaN,NaN,NaN,NaN,NaN,NaN
494,Walt Disney Magnet School,#498 Best Public Elementary Schools in Chicago...,Chicago Public Schools,grade B+,1503,18:1,NaN,NaN,NaN,NaN,NaN,NaN
495,Henry Puffer School,#499 Best Public Elementary Schools in Chicago...,Downers Grove Grade School District No. 58,grade B+,394,18:1,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
school_district_lj_df.to_csv('./top500_elementary_school_withdistrict_clean.csv')